stage: "{{ env }}"
project_id: "{{ proc_project_id }}"
project_type: dataproduct
base_job_project_id: "{{ base_job_project_id }}"
pubsub_topics:
    ga4_ee_web_app_topic:
        roles:
            publisher:
                - "group:email@abc.com"
            subscriber:
                - "group:email@abc.com"
            viewer:
                - "group:email@abc.com"
        labels:
            type: streaming
            source: google-analytics-4
pull_subscriptions:
    pages_view_events_dp:
        topic: ga4_ee_web_app_topic
        roles:
            subscriber:
                - "group:email@abc.com"
            viewer:
                - "group:email@abc.com"
