pipeline:
    name: "web-analytics-pages-viewed"
    project: "web-analytics-pages-viewed"
    region: "europe-west2"

pubsub:
    input_subscription: ""

validation:
    required_fields:
        - "attribute"

filtering:
    filter_expression: ""