name: Release

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release type'
        required: true
        default: 'stable'
        type: choice
        options:
        - stable
        - alpha

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install python-semantic-release

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.SEMANTIC_TOKEN }}
        run: |
          if [[ "${{ github.event.inputs.release_type }}" == "alpha" ]]; then
            semantic-release version --prerelease
          elif [[ "${{ github.event.inputs.release_type }}" == "stable" ]]; then
            semantic-release version stable
          fi