name: "Lint and Test"
on:
  push:
    branches-ignore:
      - "main"
      - "master"
    tags-ignore:
      - "**"
  pull_request:
    branches-ignore:
      - "main"
      - "master"
  workflow_dispatch:

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write
  security-events: write
  repository-projects: write

jobs:
  lint-and-test:
    name: Lint and Test
    uses: aaronginder/workflow-factory/.github/workflows/lint-and-test.yml@fix-update-semantic-release-python
    with:
      aws_role_arn: ${{ vars.AWS_ROLE_ARN }}
      bucket_name: aaronginder-tf-states
      bucket_prefix: ${{ github.event.repository.name}}
      project: aaronginder
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
