name: "Security Scan"

on:
  pull_request:
    branches: ["*"]
    paths:
      - "terraform/**"
      - "**/*.js"
      - "**/*.ts"
      - "**/*.py"
      - "**/*.go"
      - "**/*.java"
      - "**/*.rb"
      - "**/*.php"
      - "**/Dockerfile"
      - "**/*.yml"
      - "**/*.yaml"
      - "**/package*.json"
      - "**/yarn.lock"
      - "**/Gemfile*"
      - "**/requirements*.txt"
      - "**/go.mod"
      - "**/pom.xml"
      - "**/composer.json"
  push:
    branches-ignore:
      - main
      - master
    tags-ignore:
      - "*"
    paths:
      - "terraform/**"
      - "**/*.js"
      - "**/*.ts"
      - "**/*.py"
      - "**/*.go"
      - "**/*.java"
      - "**/*.rb"
      - "**/*.php"
      - "**/Dockerfile"
      - "**/*.yml"
      - "**/*.yaml"
      - "**/package*.json"
      - "**/yarn.lock"
      - "**/Gemfile*"
      - "**/requirements*.txt"
      - "**/go.mod"
      - "**/pom.xml"
      - "**/composer.json"
  workflow_dispatch:

permissions:
    contents: read
    security-events: write
    pull-requests: write
    actions: read

jobs:
  security:
    uses: aaronginder/workflow-factory/.github/workflows/security.yml@v1.2.0
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
